body {
	background-color: black;
}

.main {
	width: 100%;
}

.video-card {
	max-width: 228px;
}
.video-description {
	min-width: 228px;
	display: flex;
	align-items: flex-start;
	color: white;
}
.video-description h4 {
	margin: 5px;
}
.video-description p {
	margin: 5px;
	font-size: 13px;
}

.video-card8{
	max-width : 228px;
}

.video-description8{
	color: white;
	display: flex;
	align-items: flex-start;
	
}

.video-description8 h4 {
	margin: 5px;
}

.video-description8 p {
	margin: 5px;
	font-size: 13px;
}